@font-face {
  src: url("../public/asset/iransans/IRANSansWeb.ttf");
  src: url("../public/asset/iransans/IRANSansWeb.eot");
  src: url("../public/asset/iransans/IRANSansWeb.woff");
  src: url("../public/asset/iransans/IRANSansWeb.woff2");





  font-family: "iransans";
}



body {
  margin: 0;
  font-family: iransans !important;

  direction: rtl;
}
.modal-dialog{
  display: flex;justify-content: center;
}
.modal-content{
  width: 360px !important;
}

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/
